.CardContainer {
    // max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 20px 20px 15px rgb(13 28 68 / 5%);

    img{
        width: 200px;

    }

    h2 {
        color: #0d1c44;
        font-size: 36px;
        margin: 15px 0;
    }

    p {
        margin-bottom: 15px;
        color: #0d1c44;
    }

    button {
        display: flex;
        width: 160px;
        height: 55px;
        margin-top: 0;
        padding: 0 30px;
        justify-content: center;
        align-items: center;
        border-style: none;
        border-radius: 30px;
        background-color: #00fad3;
        color: #0d1c44;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
}